h1{
font size:24pt;
color:red
font-family:Tahoma,Helvetica,sans-serif;
text-decoration-line:underline;
}

h2{
font-size:normal;
color:blue;
background-color:lightgray;
font-weight:bold;
}

ul{
list-style-type:square;
}

#course{
width:90%;
margin:auto;
}

.container{
margin:auto
width:80%
}

.button{
background-color::#faebd7;
border:solid 2px;
border-radius:4px;
padding:2px
}

.sub-container{
width:90%
margin:auto;
}

#github-link{
font-family:'Courier New',Courier,monospace;
}

#itu-logo{
border:2px dotted;
padding:2px;}
